 <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_professional">
            <div class="navy-line"></div>
            <h1><span id="i18_professional" data-i18n="professional.my_professional"><b>Professional Services</b></span></h1>
        </div>
    </div>
    <div class="services" style="padding:10px;">
        <div class="table-responsive">
            <table class="table table-sm table-borderless"> 
                <tbody>
                    <tr>
                        <td>
                            <strong>Conference Reviewer</strong>
                            <ul>
                                <li>IEEE/CVF Conference on Computer Vision and Pattern Recognition (<strong>CVPR</strong>), 2023, 2024</li>
                                <li>International Conference on Computer Vision (<strong>ICCV</strong>), 2023</li>
                                <li>European Conference on Computer Vision (<strong>ECCV</strong>), 2024</li>
                                <li>Conference on Neural Information Processing Systems (<strong>NeurIPS</strong>), 2023</li>
                                <li>International Conference on Learning Representations (<strong>ICLR</strong>), 2024</li>
                                <li>AAAI Conference on Artificial Intelligence (<strong>AAAI</strong>), 2024</li>
                                <li>Asian Conference on Computer Vision (<strong>ACCV</strong>), 2022</li>
                            </ul>
                        </td>
                    </tr> 
                <tbody>
            </table>
        </div> 
    </div>

</div>
