<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center" id="i18_skills">
            <div class="navy-line"></div>
            <h1><span id="i18_skills" data-i18n="skills.my_skills"><b>Publications</b></span></h1>
        </div>
    </div>
    <style>
      </style>
    <div class="publications" style="padding:10px;">
        <ol class="bibliography">
            <li class="image-container" style="list-style:none;">
                  <!-- _layouts/bib.html -->
                  <div class="col">            
                      <div class="col-12 preview">
                          <figure>
                              <img class="rounded z-depth-1 medium-zoom-image img-thumbnail" src="/static/assets/img/landing/pubs/kwon_wacv24.png" data-zoomable="">
                          </figure>
                      </div>
                      <!-- Entry bib key -->
                      <div id="kwon2024wacv" class="col-12" style="padding:8px;">
                          <!-- Title -->
                          <div class="title"><b>Self-Supervised Learning of Semantic Correspondence Using Web Videos</b></div>
                          <!-- Author -->
                          <div class="author"><b><em><u>Donghyeon Kwon</u></em></b>, Minsu Cho and Suha Kwak  
                          </div>
                          <!-- Journal/Book title and date -->
                          <div class="periodical">
                              <em>IEEE/CVF Winter Conference on Applications of Computer Vision (<b>WACV</b>),</em> 2024
                          </div>
                          <!-- Links/Buttons -->
                    <div class="links">
                        <a href="https://openaccess.thecvf.com/content/WACV2024/papers/Kwon_Self-Supervised_Learning_of_Semantic_Correspondence_Using_Web_Videos_WACV_2024_paper.pdf" class="btn btn-sm z-depth-0 waves-effect waves-light" role="button" target="_blank" rel="noopener noreferrer">Paper</a>
                        <a href="https://github.com/kinux98/SSSCWEB" class="btn btn-sm z-depth-0 waves-effect waves-light" role="button" target="_blank" rel="noopener noreferrer">Code</a>
                        <a href="https://cvlab.postech.ac.kr/research/SSSCWEB/" class="btn btn-sm z-depth-0 waves-effect waves-light" role="button" target="_blank" rel="noopener noreferrer">Website</a>
                    </div>
                      </div>
                  </div>
            </li>
              
            <li class="image-container" style="list-style:none;">
                  <!-- _layouts/bib.html -->
                  <div class="col">            
                      <div class="col-12 preview">
                          <figure>
                              <img class="rounded z-depth-1 medium-zoom-image img-thumbnail" src="/static/assets/img/landing/pubs/kang_icml23.png" data-zoomable="">
                          </figure>
                      </div>
                      <!-- Entry bib key -->
                      <div id="kang2023icml" class="col-12" style="padding:8px;">
                          <!-- Title -->
                          <div class="title"><b>Leveraging Proxy of Training Data for Test-Time Adaptation</b></div>
                          <!-- Author -->
                          <div class="author">Juwon Kang, Nayeong Kim, <em><u>Donghyeon Kwon</u></em>, Jungseul Ok and Suha Kwak  
                          </div>
                          <!-- Journal/Book title and date -->
                          <div class="periodical">
                              <em>International Conference on Machine Learning (<b>ICML</b>),</em> 2023
                          </div>
                          <!-- Links/Buttons -->
                        <div class="links">
                            <a href="https://openreview.net/pdf?id=VVGNInOAm9" class="btn btn-sm z-depth-0 waves-effect waves-light" role="button" target="_blank" rel="noopener noreferrer">Paper</a>
                            <a href="https://cvlab.postech.ac.kr/research/TTAwithProxy/ProxyforTTA.zip" class="btn btn-sm z-depth-0 waves-effect waves-light" role="button" target="_blank" rel="noopener noreferrer">Code</a>
                            <a href="https://cvlab.postech.ac.kr/research/TTAwithProxy/" class="btn btn-sm z-depth-0 waves-effect waves-light" role="button" target="_blank" rel="noopener noreferrer">Website</a>
                          </div>
                        </div>
                  </div>
            </li>
            
            <li class="image-container" style="list-style:none;">
                <!-- _layouts/bib.html -->
                <div class="col">            
                    <div class="col-12 preview">
                        <figure>
                            <img class="rounded z-depth-1 medium-zoom-image img-thumbnail" src="/static/assets/img/landing/pubs/kwon_cvpr22.png" data-zoomable="">
                        </figure>
                    </div>
                    <!-- Entry bib key -->
                    <div id="kwon2024wacv" class="col-12" style="padding:8px;">
                        <!-- Title -->
                        <div class="title"><b>Semi-supervised Semantic Segmentation with Error Localization Network
                        </b></div>
                        <!-- Author -->
                        <div class="author"><b><em><u>Donghyeon Kwon</u></em></b> and Suha Kwak  
                        </div>
                        <!-- Journal/Book title and date -->
                        <div class="periodical">
                            <em>IEEE Conference on Computer Vision and Pattern Recognition (<b>CVPR</b>),</em> 2022
                        </div>
                        <!-- Links/Buttons -->
                  <div class="links">
                      <a href="https://openaccess.thecvf.com/content/CVPR2022/papers/Kwon_Semi-Supervised_Semantic_Segmentation_With_Error_Localization_Network_CVPR_2022_paper.pdf" class="btn btn-sm z-depth-0 waves-effect waves-light" role="button" target="_blank" rel="noopener noreferrer">Paper</a>
                      <a href="https://github.com/kinux98/SSL_ELN" class="btn btn-sm z-depth-0 waves-effect waves-light" role="button" target="_blank" rel="noopener noreferrer">Code</a>
                      <a href="https://cvlab.postech.ac.kr/research/ELN/" class="btn btn-sm z-depth-0 waves-effect waves-light" role="button" target="_blank" rel="noopener noreferrer">Website</a>
                  </div>
                    </div>
                </div>
          </li>
            
        </ol>
    </div>
</div>
