<div class="education">
  <h2><b>Education</b></h2>
  <div style="padding:10px;">
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        <tbody>

        <tr>
          <th scope="row">2021 – 2026</th>
          <td>
            <b>Ph.D. in Computer Science and Engineering</b><br>
            <a href="https://postech.ac.kr/eng/" target="_blank" rel="noopener noreferrer">
            Pohang University of Science and Technology (POSTECH)</a>, Pohang, South Korea <br>
            Advisor: Prof. 
            <a href="https://suhakwak.github.io/index.html" target="_blank" rel="noopener noreferrer">
            Suha Kwak</a><br>
            <a href="https://cvlab.postech.ac.kr" target="_blank" rel="noopener noreferrer">
            Computer Vision Lab (CVLaB)</a>
          </td>
        </tr>

        <tr>
          <th scope="row">2017 – 2021</th>
          <td>
            <b>B.S. in Computer Science and Engineering</b><br>
            <a href="https://postech.ac.kr/eng/" target="_blank" rel="noopener noreferrer">
            Pohang University of Science and Technology (POSTECH)</a>, Pohang, South Korea <br>
            Advisor: Prof. 
            <a href="https://sites.google.com/view/postechdi/member/faculty?authuser=0" target="_blank" rel="noopener noreferrer">
            Hwanjo Yu</a>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
