<div class="education">
    <h2><b>Education</b></h2>
    <div class="education" style="padding:10px;">
        <div class="table-responsive">
          <table class="table table-sm table-borderless"> 
            <tbody><tr>
              <th scope="row">Feb, 2021 - Present</th>
              <td>
                <a href="https://postech.ac.kr/eng/" target="_blank" rel="noopener noreferrer"><b>Pohang University of Science and Technology (POSTECH)</b></a>, Pohang, South Korea <br>
Integrated M.S. &amp; Ph.D. Student in Computer Science and Engineering <br>
Advisor: Prof. <a href="https://suhakwak.github.io/index.html" target="_blank" rel="noopener noreferrer">Suha Kwak</a>.
<br> Currently working at POSTECH <a href="https://cvlab.postech.ac.kr" target="_blank" rel="noopener noreferrer">Computer Vision Lab.</a>

              </td>
            </tr> 
            <tr>
              <th scope="row">Feb, 2017 - Feb, 2021</th>
              <td>
                <a href="https://postech.ac.kr/eng/" target="_blank" rel="noopener noreferrer"><b>Pohang University of Science and Technology (POSTECH)</b></a>, Pohang, South Korea <br>
B.S in Computer Science and Engineering <br>
Advisor: Prof. <a href="https://sites.google.com/view/postechdi/member/faculty?authuser=0" target="_blank" rel="noopener noreferrer">Hwanjo Yu</a>.

              </td>
            </tr> 
          </tbody></table>
        </div> 
      </div>
</div>
