<div class="experience">
    <h2><b>Experiences</b></h2>
    <div class="experience" style="padding:10px;"> 
        <div class="table-responsive"> 
          <table class="table table-sm table-borderless"> 
            <tbody>
              <tr> 
                <th scope="row">July, 2023 - Aug, 2023 </th> 
                <td> 
                  <a href="https://www.sait.samsung.co.kr/saithome/main/main.do" target="_blank" rel="noopener noreferrer">Samsung Advanced Institute of Technology</a>, Suwon, S.Korea.
                  <br> 
                  <em>Research Intern</em> 
                  <ul> 
                    <li>Conducted research on data-efficient 3D object detection for autonomous driving scenes.</li> 
                    <li>Mentor: Dr. <a href="https://sites.google.com/site/sonhspostech/"><b>Hyeongseok Son</b></a></li> 
                  </ul> 
                </td> 
              </tr> 
              <tr> 
                <th scope="row">Feb, 2021 - Present</th> 
                <td> 
                  <a href="http://cvlab.postech.ac.kr/lab/" target="_blank" rel="noopener noreferrer">Computer Vision Lab</a>, <a href="https://postech.ac.kr/" target="_blank" rel="noopener noreferrer">POSTECH</a>, Pohang, S.Korea 
                  <br> 
                  <em>Research and Teaching Assistant</em> 
                  <ul> 
                    <li>Advisor: Prof. <a href="https://suhakwak.github.io/"><b>Suha Kwak</b></a></li> 
                  </ul> 
                </td> 
              </tr>
              <tr> 
                <th scope="row">Jun, 2019 - Aug, 2019 </th> 
                <td> 
                  <a href="https://eng.kist.re.kr/eng/index.do" target="_blank" rel="noopener noreferrer">Korea Institute of Science and Technology</a>, Seoul, S.Korea.
                  <br> 
                  <em>Research Assistant</em> 
                  <ul> 
                    <li>Conducted research on typo correction for virtual keyboards.</li> 
                    <li>Advisor: Dr. <a href="https://www.linkedin.com/in/suhyunk/?originalSubdomain=kr"><b>Suhyun Kim</b></li> 
                  </ul> 
                </td> 
              </tr>  
            </tbody>
          </table> 
        </div> 
      </div>        

</div>