<div class="honors">
    <h2><b>Honors and Awards</b></h2>

<div class="honors">
    <div class="table-responsive">
      <table class="table table-sm table-borderless"> 
        <tbody>
        <tr>
          <td>
            <ul>
                <li>
                    <strong>Samsung Ph.D. Sponsorship (DS) from <a href="https://www.sait.samsung.co.kr/saithome/main/main.do" target="_blank" rel="noopener noreferrer">Samsung Advanced Institude of Technology (SAIT)</a>, 2024.
                </li>
                <li>
                    <strong>BK21 Best Paper Award</strong> from <a href="https://cse.postech.ac.kr/" rel="noopener noreferrer">POSTECH CSE</a>, 2023
                </li>
            </ul>
          </td>
        </tr> 
        </tbody>
    </table>
    </div> 
</div>
</div>  